---
---
<nav class="bg-[#161617CC]">
	<div class="bg-[#161617CC] flex ">
		<ul>
			<li><img src="" alt=""></li>
			<li>Store</li>
			<li>Mac</li>
			<li>iPad</li>
			<li>iPhone</li>
			<li>Watch</li>
			<li>Vision</li>
			<li>AirPods</li>
			<li>Tv y Home</li>
			<li>Entertainment</li>
			<li>Accessories</li>
			<li>Support</li>
			<li><img src="" alt=""></li>
			<li><img src="" alt=""></li>
		</ul>
	</div>
</nav>
